.markdown {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  text-align: left;
}

.markdown h1 {
  font-size: 2em;
}

.markdown h2 {
  font-size: 1.5em;
}

.markdown h3 {
  font-size: 1.25em;
}

.markdown h4 {
  font-size: 1em;
}

.markdown h5 {
  font-size: 0.875em;
}

.markdown h6 {
  font-size: 0.75em;
}

.markdown h1,
.markdown h2,
.markdown h3 {
  border-bottom: 1px solid #eaecef;
  padding-bottom: 0.3em;
}

.markdown p {
  margin: 1em 0;
}

.markdown td>code {
  background-color: #10b98144;
}

li > code {
  background-color: #10b98144;

}

.markdown code {
  
  padding: 0.2em 0.4em;
  border-radius: 4px;
  font-family: 'Courier New', Courier, monospace;
}

.markdown pre {
  
  padding: 1em;
  border-radius: 4px;
  overflow: auto;
}

.markdown blockquote {
  padding: 0.5em 1em;
  color: #16da57;
  border-left: 0.25em solid #dfe2e5;
  margin: 0.5em 0;
  background-color: #f8f8f8;
}

.markdown table {
  border-collapse: collapse;
  width: 100%;
  margin: 1em 0;
}

.markdown th,
.markdown td {
  padding: 0.5em 1em;
  border: 1px solid #ddd;
}

.markdown a {
  color: #0366d6;
  text-decoration: none;
}

.markdown ul {
  margin-left: 2em;
  list-style: disc;
}

pre code {
  tab-size: 2; /* Cambia el tamaño del tab */
}
